@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');
body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 41px;
    letter-spacing: 0.015em;
}

h2 {
    font-weight: bold;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.015em;
}